<!DOCTYPE html>

<html>

<body>

    <span><a href="../">../</a></span><br>
<%= for {z,i} <- Enum.with_index(files) do %>
    <span><a href="<%= url %>/<%= z %>"><%=i%> <%= z %></a></span><br>
<% end %>

<form action="/upload" method="post" enctype="multipart/form-data">
   <input type="hidden" value="<%= url %>"><br>
   File: <input type="file" name="secret"><br>
   <input type="submit" value="Submit">
</form>

</body>

</html>
